<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="bootstrap" type="DevExpress.Web.Bootstrap.BootstrapConfigurationSection, DevExpress.Web.Bootstrap.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=(localdb)\mssqllocaldb;integrated security=SSPI;attachdbfilename=|DataDirectory|\aspnetdb.mdf" providerName="System.Data.SqlClient" />
        <add name="NWindConnectionString" connectionString="data source=(localdb)\mssqllocaldb;attachdbfilename=|DataDirectory|\NWind.mdf;integrated security=True;connect timeout=120" providerName="System.Data.SqlClient" />-->
	  <!--AMBIENTE DEV-->
	  <add name="connString" connectionString="Data Source=TSC-SRV-SQL-DQ.tsc.gob.hn\MSSQL_DEV;Initial Catalog=CONSTA_SEC_DEV;User ID=tsc_csec_dev;Password=S0C_+r1_79;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	  <!--Files DEV-->
	  <add name="GoFilesUtlConnString" connectionString="Data Source=TSC-SRV-SQL-DQ.tsc.gob.hn\MSSQL_DEV;Initial Catalog=CONSTA_SEC_DEV;User ID=tsc_csec_dev;Password=S0C_+r1_79;TrustServerCertificate=True" providerName="System.Data.SqlClient" />

	  <!--AMBIENTE QA-->
	  <!--<add name="connString" connectionString="Data Source=TSC-SRV-SQL-DQ.tsc.gob.hn\MSSQL_QA;Initial Catalog=CONSTA_SEC_QA;User ID=tsc_csec_qa;Password=S0C_+r1_79;TrustServerCertificate=True" providerName="System.Data.SqlClient" />-->
	  <!--Files QA-->
	  <!--<add name="GoFilesUtlConnString" connectionString="Data Source=TSC-SRV-SQL-DQ.tsc.gob.hn\MSSQL_QA;Initial Catalog=CONSTA_SEC_QA;User ID=tsc_csec_qa;Password=S0C_+r1_79;TrustServerCertificate=True" providerName="System.Data.SqlClient" />-->
	  
	  <!--AMBIENTE PRD-->
  </connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="emailServiceUserName" value="constanciaenlineasg@tsc.gob.hn" />
    <add key="emailServicePassword" value="121+3m@TSC1024" />
    <add key="SMTPNAME" value="192.168.0.177" />
    <add key="SMTPPORT" value="2525" />
    <add key="SmtpUseSSL" value="true" />
    <add key="recaptcha-secret-key" value="6LcIsOEfAAAAAOKQzeOJg7VQaDseagOkWTrggbTs" />
    <add key="recaptcha-public-key" value="6LcIsOEfAAAAAHL4oE4SrtpSTCJ2GnQUGEz6jNjP" />
    <add key="recaptcha-language-key" value="es-419" />
    <!--<add key="emailServiceUserName" value="[EmailServiceAccountUserName]" />
    <add key="emailServicePassword" value="[EmailServiceAccountPassword]" />-->
    <!--<add key="webpages:Version" value="3.0.0.0" />
                               <add key="webpages:Enabled" value="false" />
                               <add key="ClientValidationEnabled" value="true" />
                               <add key="UnobtrusiveJavaScriptEnabled" value="true" />
                               <add key="vs:EnableBrowserLink" value="false" />-->
    <!--<add key="CantImg" value="3" />-->
    <!--<add key="reCaptchaPublicKey" value="Your site key" />
                               <add key="reCaptchaPrivateKey" value="Your secret key" />-->
    <!--<add key="vs:EnableBrowserLink" value="false" />
                               <add key="ClaveCifradoSimetrico" value="clave_simetrica" />
                               <add key="DominioAD" value="192.168.0.16" />
                               <add key="LDAPUser" value="soporte_sso" />
                               <add key="LDAPPass" value="+r1bun@11024" />
                               <add key="ClaveDefectoUInterno" value="clave_temporal" />
                               <add key="IsADEnabled" value="false" />-->
    <add key="GoFilesUtlUser" value="user" />
    <add key="GoFilesUtlPassword" value="password" />
    <!--<add key="GoFilesUtlPath" value="C:\Users\jhmedina\Documents\24\SG_Constancia_TSC" />-->
    <!--<add key="TSCFilesUtlPath" value="C:\inetpub\wwwroot\APPS WEB INTERNAS\JHMEDINA\TSCFILE-DEV\TSCFILE\TSCCONSTANCIAS\REPOSITORIO" />-->
    <!--<add key="TSCFilesUtlPath" value="C:\inetpub\wwwroot\APP_WEB_INTERNAS-DEV\JHMEDINA-DEV\TSCFILE-DEV\TSCFILE\TSCCONSTANCIAS\REPOSITORIO" />-->
    <add key="TSCFilesUtlPath" value="C:\inetpub\wwwroot\APPS_WEB_INTERNAS-QA\JHMEDINA-QA\TSCFILE-QA\TSCFILE\TSCCONSTANCIAS\REPOSITORIO" />
    <!--<add key="TSCFilesUtlPath"value="C:\Users\jhmedina\Documents\24\SG_Constancia_TSC" />-->
    <!--Ambiente local-->
    <!--<add key="urlApiHis" value="https://localhost:44352/" />-->
    <!--<add key="urlGoFilesUtlHis" value="https://localhost:44352/" />-->
    <!--<add key="UrlGoFilesUtlSASI" value="https://localhost:5001/" />-->
    <!--<add key="UrlGoFilesUtlTSC" value="https://localhost:7238/" />-->
    <!--Ambiente dev-->
    <!--<add key="urlApiHis" value="http://44.241.160.33/HIS_API/" />-->
    <!--<add key="urlGoFilesUtlHis" value="http://44.241.160.33/hisgofiles/" />-->
    <!--<add key="UrlGoFilesUtlSASI" value="https://sasi-dev.tsc.gob.hn:8006/GO_FILES_UTL/" />-->
    <!--<add key="UrlGoFilesUtlTSC" value="https://tscfile-dev.tsc.gob.hn:8008/" />-->
    <add key="UrlGoFilesUtlTSC" value="https://tscfile-qa.tsc.gob.hn:8008/" />
    <!--Ambiente QA-->
    <!--dd key="urlApiHis" value="http://localhost/HIS_API/" />
                  <add key="urlGoFilesUtlHis" value="http://localhost/GO_FILES_UTL/" />-->
    <!--<add key="UrlGoFilesUtlTSC" value="http://localhost:5113/TSC_Upload_Files/" />-->
    <add key="owin:AutomaticAppStartup" value="false" />
    <!-- Especifica la clase de inicio OWIN deseada -->
    <add key="owin:AppStartup" value="SG_Constancia_TSC.Startup" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="DevExpress.Data.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v21.2.Core, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v21.2.Export, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v21.2.Core, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v21.2.Web.WebForms, Version=21.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="DevExpress.Web.Bootstrap.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Web.ASPxRichEdit.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxSpreadsheet.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Spreadsheet.v21.2.Core, Version=21.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxScheduler.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraScheduler.v21.2.Core, Version=21.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraScheduler.v21.2.Core.Desktop, Version=21.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Bootstrap.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <!--<authentication mode="None" />-->
	  <authentication mode="Forms">
		  <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" />
	  </authentication>

	  <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
	  <globalization culture="es" uiCulture="es-MX" />
    <httpRuntime maxRequestLength="10240" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.8" />
    <pages validateRequest="true" clientIDMode="Predictable">
      <controls>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </controls>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="Owin" type="Microsoft.Owin.Host.SystemWeb.OwinHttpModule, Microsoft.Owin.Host.SystemWeb" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
	 
	  <defaultDocument>
		  <files>
			  <clear />
			  <add value="Login.aspx" />
			  <add value="Default.aspx" />
		  </files>
	  </defaultDocument>



	  <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.2, Version=21.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" />
      <add name="CreateSolicitudHandler" path="CreateSolicitudHandler.ashx" verb="*" type="SG_Constancia_TSC.CreateSolicitudHandler, SG_Constancia_TSC" resourceType="Unspecified" />
      <add name="UploadFilesHandler" path="UploadFilesHandler.ashx" verb="*" type="SG_Constancia_TSC.UploadFilesHandler, SG_Constancia_TSC" resourceType="Unspecified" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        -->
      <!--<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />-->
      <!--
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        -->
      <!--<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />-->
      <!--
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <devExpress>
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Office365" customThemeAssemblies="" baseColor="#F3B915" font="14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
    <bootstrap allowClientObjectDeferredInitialization="true" mode="Bootstrap4" iconSet="Embedded" />
  </devExpress>
  <!--<appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>-->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="constanciaenlineasg@tsc.gob.hn">
        <network host="192.168.0.177" port="2525" userName="constanciaenlineasg@tsc.gob.hn" password="121+3m@TSC1024" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>