:root {
    --color-fondo: #026B98; /* Azul */
    --color-titulo: #026b98; /* Azul vibrante */
    --color-texto: #333333; /* Gris oscuro para el texto general */
    --color-acento: #ffb833; /* Naranja suave para elementos destacados */
}

body {
    background-color: var(--color-fondo);
    color: #2FA3C7;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-titulo);
    margin: 0 0 10px;
    font-weight: normal;
}

a {
    color: var(--color-titulo);
    text-decoration: none;
    transition: color 0.3s ease;
}

    a:hover {
        color: var(--color-acento);
    }

.btn {
    background-color: var(--color-acento);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: hsl(var(--color-acento-h), var(--color-acento-s), calc(var(--color-acento-l) - 10%));
    }

.footer {
    background-color: var(--color-titulo);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

    .footer a {
        color: #fff;
        text-decoration: none;
    }

        .footer a:hover {
            text-decoration: underline;
        }


/* Aplica al formulario principal */
form#form1 {
    width: 100%; /* Ocupa el 100% del contenedor */
    max-width: 1200px; /* Máximo de ancho, lo puedes ajustar */
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px; /* Espacio interno, opcional */
}

/* Si deseas que los controles ASPxFormLayout se ajusten, asegúrate de que su clase tenga ancho relativo */
.formLayout {
    width: 100%;
}

.btn-confirmar {
    background-color: #2B78C1;
    color: white;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
   
}

/*Revisar Solicitud*/

.popup {
    
    width: 100%;
    height: 80%;
    background-color: white;
    border: 2px solid #E1E1E1;
    border-radius: 10px !important;
    box-shadow: 0 0 3px 3px #E1E1E1;
}

.headerpopup {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
}

.popup-content {
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.popup-label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

.popup-textbox {
    width: 100%;
    margin-bottom: 20px;
}

.popup-button {
    background-color: #28a745 !important;
    color: white !important;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 250px;
}

    .popup-button:hover {
        background-color: #218838 !important;
    }




